#title{
  background-color: #262626;
  color: #fff;
  padding: 3% 10%;

}
h1{
  font-family: Montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
h2.h2-feature{
  font-family: Montserrat;
  color: #0d0d0d;

}
p{
  color: #666666;
  line-height: 2;
}
.navbar-item{
  font-family: Ubuntu;

}
.navbar-brand{
  font-family: Ubuntu;
  padding-left: 7px;
  line-height: 1.5;
  font-size: 1.8rem;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-link{
  font-family: Montserrat;
  font-size: 1.2rem;

}
.dwnld-btn{
  margin: 5% 3% 5% 0%;
}

.main-img{
  width: 70%;
  border-radius: 11.5%;
  transform: rotate(20deg);
  position: absolute;
  right: 12%;
}
.container-fluid{
  padding: 0% 7% 1%;

}

/* feature */

#features{
  background-color: #d9d9d9;
  padding: 7% 15%;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 6%;
}
.feature-icons{
  color: #404040;
  margin-bottom: 1rem;
}
.feature-icons:hover{
  color: #0d0d0d;
}

/* testimonials */
#testimonials{
  background-color:#262626;
  color:#fff;

  text-align: center;
}
.carousel-item{
  padding: 8% 15%;
}
h2.h2-testimonials{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  line-height: 1.5;
  font-size: 2.3rem;

}
.cheems-img{
  width: 20%;
  margin:1% 3% 0%;
}
.cheems-img-h{
  width: 17%;
  margin:1% 3% 0%;
}

/* press */
#press{
  background-color: #262626;
  padding-bottom:10px;
  text-align: center;
}
.logo{
  width:15%;
  margin: 0% 7% 0%;
}

/* pricing */
#pricing{
  padding:100px;;
  background-color: #d9d9d9;
  text-align: center;

}
.card-header{
  background-color: #999999;
}
.card-body{
  background-color: #d9d9d9;
}
.h2-pricing{
  font-family: Montserrat;
  margin: 5px;;
}
.pricing-column {
  padding: 3% 2%;
}


@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .main-img{
    position: static;
    transform: rotate(0);
  }

}

/* last-title */
#last-title{
  text-align: center;
  background-color: #262626;
  padding: 4% 15%;
}
.h1-last-title{

  font-family:'Permanent Marker', cursive;
  font-size: 4.5rem;
  line-height: 1.5;
}
.last-btn{
  margin: 5% 3%;
}
.dwnl-icn{
  margin:5px;
}

/* footer */
#footer{
  text-align: center;
  background-color: #d9d9d9;
  padding: 5% 15%;
  font-family: Ubuntu;
}
.scl-icn{
  padding: 7px;
  font-size: 1.3rem;
}
